<%- include("index", { title: "API Route Practice" , subtitle:"RAM" }) %>

<div>
  <p>Total RAM size is : <%= Math.round(totalRAM / 1024 / 1024) %> MB</p>
  <p>Free RAM size is : <%= Math.round(freeRAM / 1024 / 1024) %> MB</p>
</div>